<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.DepartmentMapper">
    <resultMap id="allMap" type="entity.Department">
        <id property="d_id" column="dept_id"/>
        <result property="d_name" column="dept_name"/>
    </resultMap>
    <insert id="insert">
        insert into department(dept_name) values(#{d_name})
    </insert>
    <update id="update">
        update department set dept_name=#{d_name} where dept_id=#{d_id}
    </update>
    <delete id="deleteByPK">
        delete from department where dept_id=#{d_id}
    </delete>
    <select id="getAllDepartments" resultType="entity.Department" resultMap="allMap">
        select * from department
    </select>
    <select id="selectByPK" resultType="entity.Department" resultMap="allMap">
        select * from department where dept_id=#{d_id}
    </select>
</mapper>