<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserMapper">
    <resultMap id="allMap" type="entity.User">
        <id column="id" property="u_id"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
    </resultMap>
    <insert id="addUser">
        insert into user(id, password, email, salt) values (#{u_id}, #{password}, #{email}, #{salt})
    </insert>
    <update id="updateUser">
        update user set password=#{password}, email=#{email} where id=#{u_id}
    </update>
    <select id="getUserPassword" resultType="java.lang.String">
        select password from user where id = #{u_id}
    </select>
    <select id="findByUsername" resultType="entity.User" resultMap="allMap">
        select * from user where id = #{u_id}
    </select>
    <select id="selectUser" resultType="entity.User" resultMap="allMap">
        select * from user where id = #{u_id}
    </select>
</mapper>